[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
backoff = "*"
ctransformers = "*"
llama-cpp-python = "*"
openai = "*"
python-dotenv = "*"
jupyter = "*"

[dev-packages]

[requires]
python_version = "3.12"
